
@import url(autocomplete.css);
@import url(menubar.css);
@import url(general.css);
@import url(popupbox.css);
@import url(register.css);
@import url(receipt.css);
@import url(reports.css);
@import url(tables.css);
@import url(thickbox.css);
@import url(datepicker.css);
@import url(editsale.css);

body
{
	margin:0px;
	padding:0px;
	/*background-color:#f7f7f7;*/
	font-family: 'Roboto', sans-serif;
	background-attachment: fixed;
    background-image: url("../images/city5.png");
/*    , url("../../images/cenefa1.jpg"), url("../../images/fd.gif");
    background-image: url("../images/city5.png"), url("../../images/cenefa1.jpg"), url("../../images/fd.gif");*/
    background-position: center bottom, center top;
    background-repeat: repeat-x, repeat-x, repeat;
}

a.none
{
	text-decoration:none;
}


#content_area_wrapper
{
	position:relative;
	width:100%;
	/*background-color:#FFFFFF;*/
	margin:0px;
	padding:0px;
	/*border-bottom:1px solid #CCCCCC;*/
	text-align:center;

}

tr{

	padding: 10px 0px;
}


#content_area
{
	position:relative;
	margin:0 auto;
	/*width:875px;*/
	width:80%;
	/*text-align:left;*/
	overflow: auto;
	/*background: red;*/

}

#content_area_items
{
	position:relative;
	margin:0 auto;
	width:80%;
	text-align:left;

}

#title_bar
{
	position:relative;
	/*margin-top:10px;*/
	margin-bottom:10px;
	width:100%;
	height:50px;
}

#title
{
	position:absolute;
	bottom:0px;
	left:0px;
	font-size:30px;
	font-weight:bold;
	color:#000000;
}

#page_title
{
	margin-top:8px;
	font-size:20px;
	/*font-weight:bold;*/
	color:#000000;
	text-align:center;
	font-family: 'Roboto', sans-serif;

}

legend{
	background: #0063B0;
	padding: 10px;
	color: white;
	border-radius: 10px;
}

#page_subtitle
{
	margin-top:8px;
	font-size:16px;
	font-weight:bold;
	color:#000000;
	text-align:center;
}

#new_button
{
	position:absolute;
	bottom:-5px;
	right:0px;
}

#spinner
{
	position:absolute;
	display:none;
	right:21%;
	top:5px;
}

#feedback_bar
{
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height:55px;
	position:fixed;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index:1;
	line-height:3.3;
}

#home_module_list
{
	position: relative;
	margin-left: 2%;
}

.module_item
{
	background: none repeat scroll 0 0 #808080;
    color: #FFFFFF;
    float: left;
    font-family: verdana;
    font-size: 0.7em;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 1%;
    width: 30%;
    height: 80px;
    border-radius: 10px;


}

.module_item:hover
{
	background: #0063B0;
    color: #FFFFFF;
    float: left;
    font-family: verdana;
    font-size: 0.7em;
    margin-bottom: 1%;
    margin-right: 1%;
    padding: 1%;
    width: 30%;
    height: 80px;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    cursor: pointer;
    border-radius: 20px;

}



#config_wrapper
{
	text-align:center;

}

#config_info
{
	width:70%;
	margin:0 auto;
	padding:10px;
	margin-bottom:30px;
	margin-top:10px;
	text-align:left;
	background: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 5px;
	font-family: 'Roboto', sans-serif !important;
	border-radius: 10px;
	border: none;
}

#footer
{
	/*background: none repeat scroll 0 0 #808080;*/
    clear: both;
    color: black;
    font-size: 11px;
    /*margin-bottom: 15px;*/
    /*margin-top: 25px;*/
    padding: 10px 0;
    /*position: absolute;*/
    bottom: 0;
    text-align: center;
    width: 100%;

}

#footer a
{
text-decoration: none;
color: silver;
font-weight: bold;
}


.module_item a{

	text-decoration: none;
	color: orange;

}
