#table_action_header
{
	position:relative;
	width:100%;
	background-color:#EEEEEE;
	background-image:url(../images/checkbox_arrow.gif);
	height:30px;
	border-top:1px solid #CCCCCC;
	background-position:5px 10px;
	background-repeat:no-repeat;
	/*padding:10px 0px 10px 0px;*/
}

#table_action_header ul
{
	list-style:none;
	padding:0px;
	margin:0px;
	margin-left:15px;
}

#table_action_header ul li
{
	margin-left:8px;
	margin-right:4px;

}

#table_action_header ul li span
{
	background-color:#0063B0;
	/*border:2px solid #DDDDDD;*/
	font-size:14px;
	padding:3px;

}

#table_action_header a
{
	text-decoration:none;
	color:#FFF;
}

#table_holder
{
	position:relative;
	margin-bottom:50px;
}

table.tablesorter
{
	position:relative;
	width:100%;
	border-top:3px solid #0a6184;
	border-collapse:collapse;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th
{
	color:#FFFFFF;
	text-align:left;
	background-color:#0063B0;
	padding: 10px 5px 10px 5px;
}

table.tablesorter thead tr .header
{
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tablesorter tbody td
{
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 0px 5px 0px 5px;

}

table.tablesorter tbody td
{
	border-bottom: 1.5px dashed silver;
    font-family: verdana;
    font-size: 0.8em;
    padding: 10px 0;
    text-align: left;
    background: #F8F8F8;
    -webkit-transition: all 2s ease-out;
    -moz-transition: all 2s ease-out;
    -ms-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    cursor: pointer;

}

table.tablesorter tbody td:first-child
{
	    padding: 10px 5px;

}

a.thickbox{

	text-decoration: none;
}

table.tablesorter tbody td.over
{
	background-color:#CCCCCC;
}

table.tablesorter tbody td.selected
{
	background-color:#BBBBBB;
}

table.tablesorter tbody td.paint
{
	background-color:#FFC;
}

table.tablesorter thead tr .headerSortUp
{
	background-image: url(../images/tables/asc.gif);
}

table.tablesorter thead tr .headerSortDown
{
	background-image: url(../images/tables/desc.gif);
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp
{
	background-color: #8dbdd8;
}

table.innertable
{
	display: none;
}

table.innertable thead tr th
{
	background-color: #0a6184;
}

table.innertable tbody tr td
{
	background-color: #DDD;
}

table.tabledist
{
	position:relative;
	width:100%;
	border-top:3px solid #0a6184;
	border-collapse:collapse;
	font-size:14px;
}

table.tabledist thead tr th, table.tablesorter tfoot tr th
{
	color:#FFFFFF;
	text-align:left;
	background-color:#0063B0;
	padding: 0px 2px 0px 2px;
}

table.tabledist thead tr .header
{
	background-image: url(../images/tables/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table.tabledist tbody td
{
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
	padding: 0px 2px 0px 2px;

}

table.tabledist tbody td
{
	border-bottom:1px solid #DDDDDD;
}

table.tabledist tbody td.over
{
	background-color:#CCCCCC;
}

table.tabledist tbody td.selected
{
	background-color:#BBBBBB;
}

table.tabledist tbody td.paint
{
	background-color:#FFC;
}

table.tabledist thead tr .headerSortUp
{
	background-image: url(../images/tables/asc.gif);
}

table.tabledist thead tr .headerSortDown
{
	background-image: url(../images/tables/desc.gif);
}

table.tabledist thead tr .headerSortDown, table.tabledist thead tr .headerSortUp
{
	background-color: #8dbdd8;
}
